body{
    background-color: #E8F75F;
  }
  .answer{
    background-color: rgb(206, 6, 106);
    width: auto;
    font-size: 26px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .correct{
    background-color: rgb(14, 206, 14);
  }

  .btn-primary{
    background-color: rgb(61, 34, 34);
    font-size: large;
    color: #fff;
  }

  .btn-primary{
    background-color: rgb(61, 34, 34);
    font-size: large;
    color: #fff;
  }

  mat-card{
    width: 60%;
    margin: auto;
    text-align: center;
    background: #d171b1;
    color: #fff;
    font-size: 50px;
    border-color: #fff;
    border-radius: 2px;
    border: 2px solid;
  }
   .results {
    margin-top: 34px;
   }

  .title{
    margin: auto;
    background-color: #f175eb;
    color: white;
    font-size: 30px;
  }
