<div>
  <ul id="navigation">
<li>

  <a href='#'  routerLink='/about-us'>Description </a></li>
</ul>
<h1>
you can play this quiz
</h1>
<p>
  PiLand Quiz is a game application that will challenge the general knowledge of the user!</p>
  <p>
    Through a very intuitive quiz interface, the player will be able to compete against his friends as well</p>
  <p>only to players from all over the world in real time, on quiz topics covering a multitude of </p>
  <p>
    of themes.
</p>
<p>
  To start, the user will personalize his profile, his name, his age. Then he can start to choose </p>
<p>on what themes he will want to face the other players. QuizUp offers very diverse themes such as sport,</p>
<p>art, science or politics.
</p>
<p>

  The application also makes it possible to put in contact users having the same centers of interest and thus to make</p>
<p>
  new encounters !
</p>



</div>
