
<div class="container">
  <div class=" text-center">

    <div class="col-sm-12 ml-auto mr-auto">
      <form class="form-signin" [formGroup]="form" >
        <h1 class="h3 mb-3 font-weight-normal"> reset Password </h1>
        <br>
        <label for="inputEmail" class="sr-only">password</label>
        <input type="password" id="inputEmail" class="form-control" placeholder="Password" formControlName="pass1" required autofocus>
        <label for="inputPassword" class="sr-only"> confirm Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder=" Confirm  Password" formControlName="pass2" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="reset()" >reset Password </button>
        <br>
        
        <br>

        <a href='#'  routerLink='/signup'> No account? Sign up now </a>
      </form>
    </div>

  </div>
</div>
